<div class="container">
  <nav class="navbar">
    <div class="header">
      <h3>
        <p>
          <a class="logo" routerLink="/home">ASJ</a>
        </p>
      </h3>
      <ul class="main-nav">
        <li class="main-nav-item">
          <a routerLink="/home" class="button">HOME</a>
        </li>
        <li class="main-nav-item">
          <a routerLink="/work" class="button">WORK</a>
        </li>
        <li class="main-nav-item">
          <a routerLink="/contact" class= "button">CONTACT</a>
        </li>
        <li class="main-nav-item">
          <a routerLink="/about" class="button">ABOUT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
