<div class="art">
  <app-header></app-header>
  <div class="mark">
    <h2>ABOUT</h2>
    <div class="tim">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eos
        officia, facilis voluptatem debitis ullam odio eveniet aut laudantium,
        quo aliquid dolorem saepe in ut harum asperiores sapiente optio rerum!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, odio
        amet voluptates minima deserunt ipsa est temporibus culpa optio quidem
        unde distinctio at alias voluptatum illum aspernatur, hic, ullam
        incidunt!
      </p>
    </div>
  </div>
</div>
