.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  border-radius: 20px;
}

label {
  margin-top: 5px;
}
.input {
  border-radius: 20px;
}
button {
  border-radius: 20px;
}
